# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

#Pods
Tests/Pods/*

# Removing the pods from the example projects so that deployment never needs to update the SDK inside the reference apps themselves
Examples/*/Pods/
Examples/Conversations/*/Pods/

# ignore jekyll generated content
_site/