# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcworkspace

# Bundler
.bundle

# Ignore all Pods directories
Pods/

# ignore jekyll generated content
_site/

# ignore internal testing files
demoAppConfigs.plist

#ignore framework build content
Output/

# Test output
Tests/installation_tests/carthage/Cartfile
Tests/installation_tests/carthage/Cartfile.resolved
Tests/installation_tests/carthage/Carthage/*

# BV Specific
BVSDK.framework.zip
