<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauth</key>
	<dict>
		<key>scope</key>
		<string>all_resources manage_resources profile resources</string>
		<key>client_id</key>
		<string>YOUR_CLIENT_ID</string>
		<key>client_secret</key>
		<string>YOUR_CLIENT_SECRET</string>
		<key>grant_type</key>
		<string>authorization_code</string>
		<key>redirect_uri</key>
		<string>http://getchute.com/oauth/callback</string>
	</dict>
	<key>services</key>
	<array>
		<string>chute</string>
		<string>facebook</string>
		<string>google</string>
		<string>trendabl</string>
		<string>flickr</string>
		<string>instagram</string>
		<string>foursquare</string>
	</array>
	<key>local_features</key>
	<array>
		<string>take_photo</string>
		<string>last_taken_photo</string>
		<string>camera_photos</string>
	</array>
</dict>
</plist>
