<h3>Installation</h3>
<p>This guide assumes you have a working knowledge of the Bazaarvoice SDK. If you haven't already done so, consider running through our <a href="index.html">Get Started</a> and <a href="installation.html">Installation</a> guides.</p>
<p>Add the following lines to your <code>Podfile</code>, if not already there:</p>

{% if page.title == "Advertising" %}
	
<pre><code class="ruby">pod 'BVSDK'
pod 'BVSDK/BVAdvertising'</code></pre>

{% elsif page.title == "Product Recommendations" %}

<pre><code class="ruby">pod 'BVSDK'
pod 'BVSDK/BVRecommendations'</code></pre>

{% elsif page.title == "Curations Display" or page.title == "Curations Custom Posts" %}

<pre><code class="ruby">pod 'BVSDK'
pod 'BVSDK/BVCurations'
pod 'SDWebImage' # Used to load photos asynchronously</code></pre>

{% else %}

<pre><code class="ruby">pod 'BVSDK'
</code></pre>

{% endif %}

<p>And install the SDK by running:</p>
<pre><code class="bash">pod install</code></pre>