<h3>Set User Information</h3>
<p>
	Once a user is authenticated inside your user login workflow, set user information inside the BVSDKManager sharedManager object.
</p>
<blockquote>
	NOTE: The userAuthString created with your existing Bazaarvoice implementation logic needs to be given to the BVSDKManager sharedManager object. However, the steps to encrypt your userAuthString are still applicable even if you are not a Conversations client.<br/>
	
</blockquote>
<h5>Example Authentication String - for testing purposes</h5>
<p>
	If you don't have an authorization token set up yet, please refer to the example in User Authentication Token
</p>