<div id="portal_sidebar">
	<div id="portal_nav">
		
		<div id="bv_logo">
			<a href="/">
				<font class="bv_teal">bazaar</font><font class="bv_white">voice</font><font class="bv_teal">:</font>				
			</a>
		</div>

		<div>
			<ul id="task_nav" class="nav nav-pills nav-stacked">
				<li class="nav-item">
					<a class="nav-link active" href="index.html">
						<span><i class="m-r-1 fa fa-file-text-o"></i>Getting Started</span>     
					</a>
					<ul>
						<li class="nav-item">
							<a class="nav-link" href="installation.html">
								<span>Installation</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<span class="nav-link" href="modules.html">
						<span><i class="m-r-1 fa fa-cogs"></i>Modules</span>     
					</span>
					<ul>
						<li class="nav-item">
							<a class="nav-link" href="product_recommendations.html"><span>Product Recommendations</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="advertising.html"><span>Advertising</span></a>
						</li>
						<li class="nav-item">
							
							<a class="nav-link" role="button" data-toggle="collapse" href="#curationsDropdown" aria-expanded="false" aria-controls="curationsDropdown">
								<span><span>Curations</span><span style="float:right;"><i class="fa fa-sort-desc"></i></span></span>
							</a>
							<div class="collapse" id="curationsDropdown">
								<ul>
									<li class="nav-item"><a class="nav-link" href="curations_display.html">Curations Display</a></li>
									<li class="nav-item"><a class="nav-link" href="curations_custom_posts.html">Curations Custom Posts</a></li>
								</ul>
							</div>


						</li>
						<li class="nav-item">
							
							<a class="nav-link" role="button" data-toggle="collapse" href="#conversationsDropdown" aria-expanded="false" aria-controls="conversationsDropdown">
								<span><span>Conversations</span><span style="float:right;"><i class="fa fa-sort-desc"></i></span></span>
							</a>
							<div class="collapse" id="conversationsDropdown">
								<ul>
									<li class="nav-item"><a class="nav-link" href="using_conversations.html">Using Conversations</a></li>
									<li class="nav-item"><a class="nav-link" href="conversations_iovation.html">Authenticity with iovation</a></li>
								</ul>
							</div>

						</li>
					</ul>
				</li>

			 
				<li class="nav-item">
					<a class="nav-link" href="bv_pixel.html">
						<span><i class="m-r-1 fa fa-dot-circle-o"></i>BV Pixel</span>     
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="user_authentication_token.html">
						<span><i class="m-r-1 fa fa-lock"></i>User Authentication Token</span>     
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="ios_9_considerations.html">
						<span><i class="m-r-1 fa fa-mobile"></i> iOS 9 Considerations</span>     
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="example_projects.html">
						<span><i class="m-r-1 fa fa-file-code-o"></i>Example Projects</span>     
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="faq_support.html">
						<span><i class="m-r-1 fa fa-question-circle"></i>FAQ & Support</span>     
					</a>
				</li>
						
			</ul>
		</div>
	</div>
</div>