<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="portal_container">
      
      {% assign jason = "jason" %}
      
      {% include sidebar.html %}

      <div id="application_container">
        <div id="task_container">
          <div id="task_content" class="app-content">
            <div class="scroll-container scrollable--scrollbar">
              <div class="page-container">

                {{ content }}
                
                {% if page.title != "Home" %}
                  {% include footer.html %}
                {% endif %}

              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </body>
</html>